//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 20 15:32:37 2016
//! **************************************************************************

SCHEMATIC START;
COMP "rst" LOCATE = SITE "U9" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "rxd" LOCATE = SITE "C4" LEVEL 1;
COMP "psram_adv" LOCATE = SITE "T13" LEVEL 1;
COMP "cs" LOCATE = SITE "L18" LEVEL 1;
COMP "lb" LOCATE = SITE "J15" LEVEL 1;
COMP "oe" LOCATE = SITE "H14" LEVEL 1;
COMP "ub" LOCATE = SITE "J13" LEVEL 1;
COMP "we" LOCATE = SITE "R11" LEVEL 1;
COMP "data_sram<3>" LOCATE = SITE "R13" LEVEL 1;
COMP "data_sram<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "data_sram<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "data_sram<2>" LOCATE = SITE "U12" LEVEL 1;
COMP "data_sram<0>" LOCATE = SITE "R12" LEVEL 1;
COMP "data_sram<9>" LOCATE = SITE "G18" LEVEL 1;
COMP "data_sram<7>" LOCATE = SITE "R18" LEVEL 1;
COMP "data_sram<8>" LOCATE = SITE "F18" LEVEL 1;
COMP "data_sram<5>" LOCATE = SITE "R17" LEVEL 1;
COMP "data_sram<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "read" LOCATE = SITE "R10" LEVEL 1;
COMP "LED_ctrl<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "LED_ctrl<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "LED_ctrl<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "LED_ctrl<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "LED_ctrl<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "LED_ctrl<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "psram_cre" LOCATE = SITE "J14" LEVEL 1;
COMP "data_sram<15>" LOCATE = SITE "P17" LEVEL 1;
COMP "data_sram<11>" LOCATE = SITE "M18" LEVEL 1;
COMP "data_sram<12>" LOCATE = SITE "M17" LEVEL 1;
COMP "data_sram<13>" LOCATE = SITE "P18" LEVEL 1;
COMP "data_sram<14>" LOCATE = SITE "N17" LEVEL 1;
COMP "data_sram<10>" LOCATE = SITE "G17" LEVEL 1;
COMP "psram_clk" LOCATE = SITE "T15" LEVEL 1;
COMP "addr2sram<15>" LOCATE = SITE "N14" LEVEL 1;
COMP "addr2sram<16>" LOCATE = SITE "N16" LEVEL 1;
COMP "addr2sram<17>" LOCATE = SITE "M13" LEVEL 1;
COMP "addr2sram<18>" LOCATE = SITE "V17" LEVEL 1;
COMP "addr2sram<11>" LOCATE = SITE "V12" LEVEL 1;
COMP "addr2sram<12>" LOCATE = SITE "P14" LEVEL 1;
COMP "addr2sram<13>" LOCATE = SITE "U16" LEVEL 1;
COMP "addr2sram<14>" LOCATE = SITE "R15" LEVEL 1;
COMP "addr2sram<10>" LOCATE = SITE "V14" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "addr2sram<6>" LOCATE = SITE "K13" LEVEL 1;
COMP "addr2sram<5>" LOCATE = SITE "K15" LEVEL 1;
COMP "addr2sram<8>" LOCATE = SITE "V16" LEVEL 1;
COMP "addr2sram<7>" LOCATE = SITE "N15" LEVEL 1;
COMP "addr2sram<9>" LOCATE = SITE "U14" LEVEL 1;
COMP "addr2sram<0>" LOCATE = SITE "J18" LEVEL 1;
COMP "addr2sram<2>" LOCATE = SITE "H15" LEVEL 1;
COMP "addr2sram<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "addr2sram<4>" LOCATE = SITE "H16" LEVEL 1;
COMP "addr2sram<3>" LOCATE = SITE "J17" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "T3" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "T1" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "V2" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "U2" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "U4" LEVEL 1;
COMP "write" LOCATE = SITE "T16" LEVEL 1;
COMP "LED_out<7>" LOCATE = SITE "L3" LEVEL 1;
COMP "LED_out<5>" LOCATE = SITE "L5" LEVEL 1;
COMP "LED_out<6>" LOCATE = SITE "N1" LEVEL 1;
COMP "LED_out<0>" LOCATE = SITE "M4" LEVEL 1;
COMP "LED_out<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "LED_out<4>" LOCATE = SITE "L4" LEVEL 1;
COMP "LED_out<1>" LOCATE = SITE "L6" LEVEL 1;
COMP "LED_out<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "enable" LOCATE = SITE "P2" LEVEL 1;
SCHEMATIC END;

